.input__container {
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;

  &--input {
    border: $input-border;
    width: 100%;
    padding: 15px 45px 15px 15px; // Adjust padding for "show"
    border-radius: 5px;
    outline: none;
    font-family: var(--font-avenir-light), sans-serif;
    background-color: #fdfdfd;

    &:focus {
      border: $input-focus-border;
      outline: none;
    }
  }

  &--toggle {
    position: absolute;
    top: 40%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 0.9rem;
    font-weight: 600;
    color: $button-color;
    cursor: pointer;
    background: none;
    user-select: none;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: var(--font-avenir-regular), sans-serif;
  }

  &--error {
    color: $error;
    font-family: var(--font-avenir-light), sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.2rem;
    transition: opacity 500ms ease-out;
    height: 1.2rem;
    visibility: hidden;
    opacity: 0;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
