.navbar {
  display: flex;
  flex-direction: row;
  background-color: $primary-color;
  padding: 0.7rem 5rem;

  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 8px 20px rgba(0, 0, 0, 0.04);
  z-index: 60;
  position: relative;

  @include respond(tab-land) {
    padding: 0.7rem 2rem;
  }

  @include respond(small-phone) {
    padding: 1rem 2rem;
  }

  &__section {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;

    &--docs {
      text-decoration: underline;
      font-weight: 400;
      cursor: pointer;
    }

    &--bell {
      cursor: pointer;
    }

    @include respond(tab-land) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @include respond(tab-land) {
      display: flex;
    }
  }

  &__sidebar {
    display: none;

    @include respond(tab-land) {
      display: flex;
      position: absolute;
      z-index: 40;
      padding: 2rem 0;
      background-color: $primary-color;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 90dvh;
      font-size: 0.8rem;

      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0;
      box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.04);

      top: 4.8rem;
      left: 70%;
      width: 30%;

      &.active {
        opacity: 1;
        animation: slideIn 0.3s forwards;
      }

      &.inactive {
        animation: slideOut 0.3s forwards;
      }
    }

    @include respond(mini-tab) {
      width: 40%;
      left: 60%;
    }

    @include respond(small-phone) {
      width: 50%;
      left: 50%;
      top: 3.5rem;
    }

    @include respond(mini-phone) {
      width: 70%;
      left: 40%;
    }
  }

  &__search {
    &--container {
      flex-basis: 30%;
      align-items: center;
      display: inline-flex;

      @include respond(tab-port) {
        flex-basis: 40%;
      }

      @include respond(phone) {
        flex-basis: 55%;
      }

      @include respond(small-phone) {
        display: none;
      }
    }

    &--input {
      padding: 0.5rem 0rem 0.5rem 1.25rem;
      border-radius: 0;
      font-size: 0.9rem;
      margin-bottom: 0;

      border-radius: 0.6rem 0rem 0rem 0.6rem;

      @media (max-width: 800px) {
        padding: 0.5rem 0rem 0.5rem 0.5rem;
      }
    }

    &--button {
      display: flex;
      padding: 0.8rem 1.2rem;
      border-radius: 0 0.6rem 0.6rem 0;
      background-color: $button-color;
      align-items: center;
      cursor: pointer;
    }
  }

  &__profile {
    display: inline-flex;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;

    &--image {
      border-radius: 5rem;
    }
  }
}
