.usertable {
  background-color: $primary-color;
  box-shadow: $box-shadow;
  padding: 1rem 1.5rem;

  margin-bottom: 1.5rem;

  @include respond(phone) {
    padding: 1rem;
  }

  &__notfound {
    font-size: 0.9rem;
    margin: 2rem 0;
    @include not-found;
  }
}
