.tablerow {
  @include grid-template;
  font-size: 0.8rem;
  color: $tableheader-color;
  align-items: center;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  margin-top: 1rem;
  // white-space: nowrap;
  // overflow: hidden;
  text-overflow: ellipsis;

  &:last-child {
    border-bottom: none;
  }

  &__organisation {
    text-transform: capitalize;
    // width: 20%;
  }

  &__status {
    text-transform: capitalize;
    border-radius: 5rem;

    padding: 0.3rem 1rem;
    justify-self: start;

    &--pending {
      background-color: $pending-background;
      color: $pending-text;
    }
    &--active {
      background-color: $active-background;
      color: $active-text;
    }
    &--inactive {
      background-color: $inactive-background;
      color: $inactive-text;
    }
    &--blacklisted {
      background-color: $blacklisted-background;
      color: $blacklisted-text;
    }
  }

  &__dots {
    cursor: pointer;
    justify-self: end;
  }
}
