.usertable {
  background-color: $primary-color;
  box-shadow: $box-shadow;
  padding: 1rem 1.5rem;

  margin-bottom: 1.5rem;

  &__notfound {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    margin: 2rem 0;
    font-weight: 400;
    color: rgb(100, 99, 99);
  }
}
