.usersfooter {
  display: flex;
  flex-direction: row;
  font-weight: 250;
  font-size: 0.9rem;
  align-items: center;
  user-select: none;

  @include respond(small-phone) {
    justify-content: center;
  }

  &__pagenumber {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;

    &--dropdown {
      display: inline-flex;
      align-items: center;
      font-weight: 450;
      background-color: $pagenumber-color;
      padding: 0.2rem 0.3rem;

      &:focus {
        outline: none;
      }
    }

    @include respond(small-phone) {
      display: none;
    }
  }

  &__pagination {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    &--active {
      font-weight: 600;
      color: $primary-accent;
      font-size: 1rem;
    }

    &--page {
      display: inline-flex;
      margin: 0 0.5rem;

      @include respond(small-phone) {
        margin: 0 1rem;
      }
    }

    &--pages {
      font-weight: 200;
    }

    &--leftarrow {
      @include pagination-arrows;
    }

    &--rightarrow {
      @include pagination-arrows;
    }

    @include respond(small-phone) {
      margin-left: 0;
      gap: 2rem;
    }
  }
}
