.userstatistics {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @include respond(tab-land) {
    gap: 1.5rem;
  }

  @include respond(tab-port) {
    gap: 1.3rem;
  }

  @media (max-width: 800px) {
    margin-bottom: 1rem;
    overflow-x: scroll;
  }
}

.userstat {
  background-color: $primary-color;
  box-shadow: $box-shadow;
  padding: 1.5rem 8rem 1.5rem 1.5rem;
  width: 23%;
  display: flex;
  z-index: 20;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 2rem;

  @include respond(phone) {
    margin-bottom: 0.4rem;
    margin-top: 1rem;
    margin-left: 0.2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  }

  > *:first-child {
    margin-bottom: 0.6rem;
  }

  @include respond(mini-tab) {
    padding: 1.5rem 10rem 1.5rem 1.5rem;
  }

  &__users {
    font-size: 0.7rem;
    text-transform: uppercase;
    width: max-content;

    @include respond(tab-port) {
      font-size: 0.6rem;
    }
  }

  &__number {
    color: $primary-accent;
    font-size: 1.8rem;
    font-weight: 500;

    @include respond(tab-port) {
      font-size: 1.5rem;
    }
  }
}
