@mixin grid-template {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 1rem;
  grid-template-rows: 2rem;
}

@mixin pagination-arrows {
  background-color: $pagenumber-color;
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

@mixin truncate {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin useractionbutton {
  font-size: 0.7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 550;
  text-transform: uppercase;
}

@mixin sideborder {
  border-right: 1px solid hsla(224, 20%, 41%, 0.2);
  border-left: 1px solid hsla(224, 20%, 41%, 0.2);
}

@mixin tablerow-menu {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

@mixin not-found {
  display: flex;
  justify-content: center;

  font-weight: 400;
  color: rgb(100, 99, 99);
}

//MEDIA Queries
/* 
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape 
1200 - 1800px: Desktop
1800px - * : Big Desktop😁


Breakpoints 
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
