@mixin grid-template {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr 1.3fr 1fr 0.1fr;
  grid-template-rows: 2rem;
}

@mixin pagination-arrows {
  background-color: $pagenumber-color;
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
}
