@mixin grid-template {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 1rem;
  grid-template-rows: 2rem;
}

@mixin pagination-arrows {
  background-color: $pagenumber-color;
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

@mixin truncate {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin useractionbutton {
  font-size: 0.7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 550;
  text-transform: uppercase;
}

@mixin sideborder {
  border-right: 1px solid hsla(224, 20%, 41%, 0.2);
  border-left: 1px solid hsla(224, 20%, 41%, 0.2);
}

@mixin tablerow-menu {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

@mixin not-found {
  display: flex;
  justify-content: center;

  font-weight: 400;
  color: rgb(100, 99, 99);
}
