$primary-color: #ffffff;
$primary-accent: #213f7d;
$primary-color-200: #fdfdfd;

$input-border: 1px solid #545f7d26;
$input-focus-border: 1px solid #545f7d80;

$error: #e4033b;
$button-color: #39cdcc;

$sidebar-link-background: #39cdcc0f;
$sidebar-border-active: #39cdcc;

$box-shadow: 5px -10px 30px rgba(0, 0, 0, 0.04);
$tableheader-color: #545f7d;

$inactive-text: hsla(224, 20%, 41%, 1);
$inactive-background: hsla(224, 20%, 41%, 0.2);

$pending-background: hsla(46, 100%, 46%, 0.2);
$pending-text: hsla(46, 100%, 46%, 1);

$blacklisted-text: hsla(345, 97%, 45%, 1);
$blacklisted-background: hsla(345, 97%, 45%, 0.2);

$activate: hsla(180, 60%, 51%, 1);

$active-text: hsla(137, 60%, 51%, 1);
$active-background: hsla(137, 60%, 51%, 0.2);

$pagenumber-color: hsla(220, 58%, 31%, 0.1);

$profile-color: hsla(220, 58%, 31%, 0.16);
$userdetail-header: hsla(224, 20%, 41%, 1);
