$primary-color: #ffffff;
$primary-accent: #213f7d;
$primary-color-200: #fdfdfd;

$input-border: 1px solid #545f7d26;
$input-focus-border: 1px solid #545f7d80;

$error: #e4033b;
$button-color: #39cdcc;

$sidebar-link-background: #39cdcc0f;
$sidebar-border-active: #39cdcc;

$box-shadow: 5px -10px 30px rgba(0, 0, 0, 0.04);
$tableheader-color: #545f7d;

$inactive: #545f7d;
$pending-background: hsla(46, 100%, 46%, 0.2);
$pending-text: hsla(46, 100%, 46%, 1);
$blacklisted: #e4033b;
