.button {
  &--blacklist {
    @include useractionbutton;
    color: $blacklisted-text;
    border: 1px solid $blacklisted-text;
  }

  &--activate {
    @include useractionbutton;
    color: $activate;
    border: 1px solid $activate;
  }
}

.skeleton {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: linear-gradient(90deg, #dcdbdb, #ebe9e9, #dcdbdb);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
  }
}

.userstat__skeleton {
  position: absolute;
  width: 20%;
  height: 20%;
  z-index: 30;
  background: linear-gradient(90deg, #dcdbdb, #ebe9e9, #dcdbdb);
  animation: skeleton 1s infinite reverse;
}
